<header class="fixed top-0 left-0 right-0 grid grid-cols-3 items-center p-4 text-text">
    <!-- Left: Logo or site title -->
    <div class="flex justify-center">
        <h1 class="text-xl font-bold bg-linear-to-r from-blue-900  to-blue-800 bg-clip-text text-transparent">My Portfolio</h1>
    </div>

    <!-- Center: Navigation -->
    <nav>
        <ul class="flex justify-center gap-6 text-sm md:text-base">
            <li><a href="index.html" class="hover:text-gray-300 transition-colors">Home</a></li>
            <li><a href="about_me.html" class="hover:text-gray-300 transition-colors">About Me</a></li>
            <li><a href="projects.html" class="hover:text-gray-300 transition-colors">Projects</a></li>
        </ul>
    </nav>

    <!-- Right: Contact button -->
    <div class="flex justify-center">
        <a href="contact_me.html" class="bg-primary text-text px-4 py-2 rounded-lg hover:bg-secondary transition">
            Contact Me
        </a>
    </div>
</header>