@import "tailwindcss";

@layer utilities {
    @keyframes fadeIn {
        from {
            opacity: 0;
            transform: translatey(10px);
        }
        to {
            opacity: 1;
            transform: translatey(0);
        }
    }

    .animate-fade-in {
        animation: fadeIn 1s ease-in-out forwards;
    }
}